#product-main-img .product-preview{
    transition: transform 0.2s ease-in-out;
}

#product-main-img:hover .product-preview:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}